# Nx specific
.nx/
dist/
tmp/
coverage/

# Git Hooks - intentionally not ignored
# .husky/  # Keep this commented out to ensure hooks are shared with the team

# Next.js
.next/
out/
build/
next-env.d.ts
.vercel
*.tsbuildinfo

# Electron
release/
app/dist/
*.app
*.exe
*.dmg

# Dependencies
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz

# Testing
coverage/
.nyc_output/

# Debug & Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - JetBrains
.idea/
*.iml
*.ipr
*.iws

# IDE - WebStorm
.idea/
.idea_modules/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# TypeScript
*.tsbuildinfo
.tscache/

# Misc
*.pem
.cache/
.temp/
.eslintcache
.stylelintcache
.turbo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Build artifacts
*.map
*.js.map
*.css.map

# Storybook
storybook-static/

# Testing
/cypress/videos/
/cypress/screenshots/
/playwright-report/
/test-results/

# PWA
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map 